<html>
    <head>
        <title>yay</title>
    </head>
    <body>
        <div id="app">
            @RenderBody()
        </div>
        <script src="~/js/dist/app.js"></script>
    </body>
</html>