<html>
    <head>
        <title>Port Arthur</title>
        <link rel="stylesheet" href="~/css/header.css" />
    </head>
    <body>
        <partial name="_Header" />
        <div id="app">
            @RenderBody()
        </div>
        <script src="~/js/dist/app.js"></script>
    </body>
</html>